<ion-header>
  <ion-navbar>
    <ion-title>{{ appName }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-icon name="ionic"></ion-icon> <b>Ionic 2 app</b>
  <ion-list>
    <ion-item-group reorder="true" (ionItemReorder)="reorderItems($event)">
      <ion-item-sliding *ngFor="let item of elements" >
        <ion-item *ngIf="item.type === 'other'">
          <simple-comp [item]="item"></simple-comp>
        </ion-item>

        <ion-item *ngIf="item.type === 'check'">
            <!-- <ion-label>{{item.title}}</ion-label> -->
            <!-- <ion-checkbox ></ion-checkbox> -->
            <check-comp [item]="item"></check-comp>

        </ion-item>
        <ion-item *ngIf="item.type === 'check2'">
            <check2-comp [item]="item"></check2-comp>
        </ion-item>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
  End of list
</ion-content>
